<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <!--
  <link rel="stylesheet" href="main.css">
  -->
</head>
<body>
  <div class="sidebar"></div>
  <div class="blogpost"></div>

  <script type="text/template" data-template="post-li">
    <li class="post-li"><a href="#post/<%- objectId %>"><strong><%- title %></strong></a></li>
  </script>

  <script type="text/template" data-template="full-post">
    <h2><%- title %></h2>
    <p><%- body %></p>
    <h5><%- updatedAt %>
  </script>
  

  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/underscore/underscore.js"></script>
  <script src="bower_components/backbone/backbone.js"></script>
  <script src="c.js"></script>
</body>
</html>
