<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" href="bower_components/octicons/octicons/octicons.css">
  <link rel="stylesheet" href="e.css">
</head>
<body>
  <div id="app-container">
  </div>

  <script type="text/template" data-template-name="new-post">
    <!-- .js-new-post <form> -->
    <label>New Microblog: </label>
    <input class="new-title" type="text" placeholder="-title-" >
    <input class="new-body" type="text" placeholder="-body-" >
    <input type="submit" value="Share"> 
  </script>

  <script type="text/template" data-template-name="post-list">
    <!-- .js-post-listing <li> within .js-post-list <ul> -->
    <h2><a href="#posts/<%= objectId %>"><span class="wrapper-title"><%- title %></span></a></h2>&nbsp; <h4><span class="wrapper-author">-- by <%- author %></span></h4><a class="button js-edit edit octicon octicon-pencil" href="#"></a><a class="button js-destroy destroy octicon octicon-trashcan" href="#"></a>  
  </script>

  <script type="text/template" data-template-name="post-full">
    <!-- .js-post-full -->
    <h2><span class="wrapper-title"><%- title %></span></h2>
    <h4><%- author %></h4>
    <p><span class="wrapper-body"><%- body %></span></p>
    <h4>Last updated: <%- updatedAt %></h4>
    <h4>
      <a href="#" class="button back octicon octicon-arrow-left"></a>
      <a href="#" class="button js-edit edit octicon octicon-pencil"></a>
      <a href="#" class="button js-destroy destroy octicon octicon-trashcan"></a>
    </h4>
  </script>


  <script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>
  <script type="text/javascript" src="bower_components/underscore/underscore.js"></script>
  <script type="text/javascript" src="bower_components/backbone/backbone.js"></script>
  <script type="text/javascript" src="e.js"></script>
</body>
</html>
